#navbar{
    background-color: rgba(25, 65, 39, 1);
}
.search{
    height: 50px;
    width: 750px;
    background-color: #afaeae9b;
    border-radius: 15px;
    margin-top: 40px;
    margin-left: 450px;
}
.search1{
    height: 50px;
    width: 750px;
    background-color: #DCDCDC;
    border-radius: 15px;
    margin-top: -55px;
    margin-left: 447px;
}

.banner1,.banner2,.banner3,.banner4{
    width: 1465px;
    height: 550px;
    position: absolute;


}
.img1{
    width :1465px ;
    height:550px;
    margin-top: 300px; 
    margin-left: 770px;
    border-radius: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
}
.img2{
    width :1465px ;
    height:550px;
    margin-top: 300px; 
    margin-left: 770px;
    border-radius: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
}

.img3{
    width :1465px ;
    height:550px;
    margin-top: 300px; 
    margin-left: 770px;
    border-radius: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
}
.img4{
    width :1465px ;
    height:550px;
    margin-top: 300px; 
    margin-left: 770px;
    border-radius: 30px;
    position: absolute;
    transform: translate(-50%,-50%);
}
.banner1{
    animation:slide1 15s  linear infinite;
}
.banner2{
    animation:slide2 15s  linear infinite;
}
.banner3{
    animation:slide3 15s  linear infinite;
}
.banner4{
    animation:slide4 15s  linear infinite;
}
@keyframes slide1 {
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes slide2 {
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3 {
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4 {
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible ;
    }
}
.text{
    margin-top: 600px;
    text-align: center;
}
.card1 {
    box-sizing: border-box;
    width: 290px;
    height: 554px;
    background: #ffffff;
    border: 1px solid #d9d9d994;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 100px;
    margin-top: 70px;
    
  }
  
  .card1:hover {
    border: 3px solid #194127;
    transform: scale(1.05);
  }
  
  .card1:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }




.card2 {
    box-sizing: border-box;
    width: 290px;
    height: 554px;
    background: #ffffff;
    border: 1px solid #d9d9d994;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 445px;
    margin-top: -330px;
    
  }
  
.card2:hover {
    border: 3px solid #194127;
    transform: scale(1.05);
  }
  
.card2:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }



.card3 {
    box-sizing: border-box;
    width: 290px;
    height: 554px;
    background: #ffffff;
    border: 1px solid #d9d9d994;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 800px;
    margin-top: -330px;
    
  }
  
.card3:hover {
    border: 3px solid #194127;
    transform: scale(1.05);
  }
  
.card3:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }


.card4 {
    box-sizing: border-box;
    width: 290px;
    height: 554px;
    background: #ffffff;
    border: 1px solid #d9d9d994;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin-left: 1150px;
    margin-top: -330px;
    
  }
  
.card4:hover {
    border: 3px solid #194127;
    transform: scale(1.05);
  }
  
.card4:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }


.a{
    margin-top: 230px;
    margin-left: -218px;
    color: #194127;
    
}
.b{
    margin-top: 230px;
    margin-left: -197px;
    color: #194127;
}
.c{
    margin-top: 230px;
    margin-left: -248px;
    color: #194127;
}

/* .............slide....................................................... */
.container {
    max-width: 1300px;
    width: 95%;
  }
 
.slider-wrapper {
    position: relative;
  }
.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #1941276f;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);

  }
.slider-wrapper .slide-button:hover {
    background: #194127b8;
  }
.slider-wrapper .slide-button#prev-slide {
    left: -65px;
    display: none;
  }
.slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 60px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
.slider-wrapper .image-list .image-item {
    width: 320px;
    height: 500px;
    object-fit: cover;
    width: 140px;
   height: 140px;
   border-radius: 50%;
   border: 4px solid #194127b8;
  }
.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
.slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 16px;
    top: -2px;
  }
.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }

  @media only screen and (max-width: 1023px) {
.slider-wrapper .slide-button {
      display: none !important;
    }
.slider-wrapper .image-list {
      gap: 30px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
      
    }
.slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
.slider-scrollbar .scrollbar-thumb {
      width: 20%;
    }
  }
  

/* ..........................................Like.............................................. */

.wrapper {
  max-width: 1300px;
  width: 100%;
  position: relative;
  margin-left: 120px;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
    
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -62px;
  background-color: #19412756;
}
.wrapper i:last-child{
  right: -32px;
  background-color: #19412756;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 6) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fffffffe;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  border: #ffffff;
}
.carousel .card .img {
  background: #19412756;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #194127fe;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #194127fe;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
/* ........................line............................ */
.line{
  height: 1px;
  width: 1450px;
  background-color: #00000064;
  margin-left: 40px;
}